charset-normalizer==3.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==40.0.2
defusedxml==0.7.1
drf_extra_fields==3.4.1
Django==2.2.19
django-filter==21.1
django-templated-mail==1.1.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.2
djoser==2.1.0
gunicorn==20.0.4
idna==3.4
itypes==1.2.0
Jinja2==3.1.2
MarkupSafe==2.1.2
oauthlib==3.2.2
Pillow==9.5.0
pipenv==2022.1.8
psycopg2-binary==2.9.6
pycparser==2.21
PyJWT==2.1.0
python-dotenv==0.20.0
python3-openid==3.2.0
pytz==2023.3
requests==2.30.0
social-auth-app-django==4.0.0
social-auth-core==4.4.2
sqlparse==0.4.4
uritemplate==4.1.1
urllib3==2.0.2
virtualenv==20.13.1
virtualenv-clone==0.5.7